<!-- <nb-card [ngStyle]="nbCardHeight">
  <nb-card-header>
    <nav class="navigation">
      <a (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <nb-auth-block>
      <router-outlet></router-outlet>
    </nb-auth-block>
  </nb-card-body>
</nb-card> -->
<nb-card>
  <nb-card-header>
    <nav class="navigation">
      <a (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <nb-auth-block>
      <router-outlet></router-outlet>
    </nb-auth-block>
  </nb-card-body>
</nb-card>

